* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.controls {
  z-index: 2;
  position: relative;
}
.tray-slide {
  display: flex;
}
.options {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
}
.option {
  background-size: cover;
  background-position: 50%;
  background-color: white;
  margin-bottom: 3px;
  padding: 10px;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.option:hover {
  border-left: 5px solid white;
  width: 58px;
}
.option.--is-active {
  border-right: 3px solid red;
  width: 58px;
  cursor: default;
}
.option.--is-active:hover {
  border-left: none;
}
.option img {
  height: 100%;
  width: auto;
  pointer-events: none;
}
